/* @VARIABLES */
/* ********** */
// COLORES
$colorFooter: #C4C4C4;
$colorBg: #F8F6EE;
$colorBtn: #F2624A;
$colorProducto: #FFE6D1;
$colorletrasBtn: #ffffff;
$colorLetras: #000000;

// TIPOGRAFÍA
$tipografiaGeneral: arial;
$fontWReagular: 400;
$fontWeightBold: 900;
$fontWSemiBold: 700;

// TAMAÑO TIPOGRAFÍA
$fontSizeGeneral: 18px;
$fontSizeMinimo: 16px;
$fontSizeLogo: 62,48px;

// TAMAÑOS
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);

$breakpoints: (
    smartphone: 320px,
    ipad: 768px,
    desktop: 1100px
);