/* @HOME */
/* ********** */

// General
html{
    font-family: $tipografiaGeneral;
}
//  Títulos
h4{
    font-size: $fontSizeGeneral;
    font-weight: $fontWeightBold;
}
h5{
    font-size: $fontSizeGeneral;
    font-weight: $fontWeightBold;
}
h6{
    font-size: $fontSizeMinimo;
    font-weight: $fontWReagular;
}
// Header
header{
    padding: .3125rem 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .containerMain1{
        padding: 1rem;
        .camaraFrente{
            background-color:$colorProducto;
            &__descripcion{
                padding-bottom: 2rem;
            }
        }
    }
    .containerMain2{
        .camaraArriba{
            &__opciones{
                padding: 1rem;
            }
        }
    }
    .containerMain3{
        background-color: $colorBg;
        .lente{
            .explicacionLente{
                padding: 1rem;
                font-size: $fontSizeGeneral;
                font-weight: $fontWSemiBold;
            }
        }
    }
}
// Footer
footer{
    padding: 0 16px;
    background-color: $colorFooter;
}